
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

Welcome
<b>@HttpContext.Current.User.Identity.Name</b>
<br />
<br />

@using (Html.BeginForm("ViewAlbums", "Home", FormMethod.Post))
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="View Albums" class="btn btn-default" />
        </div>
    </div>
}

@using (Html.BeginForm("Logout", "User", FormMethod.Post))
{
    <a href="javascript:;" onclick="document.forms[1].submit();">Logout</a>
}
